In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data=pd.read_csv(r"C:\Users\prema\Desktop\diabetes.csv")
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,NaN,NaN,NaN,33.6,0.627,50.0,1
1,1,85,66.0,29.0,0.0,26.6,0.351,NaN,0
2,8,183,NaN,0.0,0.0,NaN,0.672,32.0,1
3,1,10,66.0,23.0,94.0,28.1,0.167,21.0,0
4,1,10,66.0,23.0,94.0,28.1,0.167,21.0,0
...,...,...,...,...,...,...,...,...,...
763,10,101,76.0,48.0,180.0,32.9,0.171,63.0,0
764,2,122,70.0,27.0,0.0,36.8,0.340,27.0,0
765,5,121,72.0,23.0,112.0,26.2,0.245,30.0,0
766,1,126,60.0,0.0,0.0,30.1,0.349,47.0,1
767,1,93,70.0,31.0,0.0,30.4,0.315,23.0,0

In [58]:
data.head(6)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,NaN,NaN,NaN,33.6,0.627,50.0,1
1,1,85,66.0,29.0,0.0,26.6,0.351,NaN,0
2,8,183,NaN,0.0,0.0,NaN,0.672,32.0,1
3,1,10,66.0,23.0,94.0,28.1,0.167,21.0,0
4,1,10,66.0,23.0,94.0,28.1,0.167,21.0,0
5,5,116,74.0,0.0,0.0,25.6,0.201,30.0,0

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             766 non-null    float64
 3   SkinThickness             767 non-null    float64
 4   Insulin                   767 non-null    float64
 5   BMI                       767 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       767 non-null    float64
 8   Outcome                   768 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.1 KB

In [60]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               2
SkinThickness               1
Insulin                     1
BMI                         1
DiabetesPedigreeFunction    0
Age                         1
Outcome                     0
dtype: int64

In [61]:
data.drop(columns=['Pregnancies','BloodPressure'],inplace=True)
data
data['BMI']=35
data['Insulin']=35
data

,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,NaN,35,35,0.627,50.0,1
1,85,29.0,35,35,0.351,NaN,0
2,183,0.0,35,35,0.672,32.0,1
3,10,23.0,35,35,0.167,21.0,0
4,10,23.0,35,35,0.167,21.0,0
...,...,...,...,...,...,...,...
763,101,48.0,35,35,0.171,63.0,0
764,122,27.0,35,35,0.340,27.0,0
765,121,23.0,35,35,0.245,30.0,0
766,126,0.0,35,35,0.349,47.0,1
767,93,31.0,35,35,0.315,23.0,0

In [62]:
duplicates=data.duplicated().sum()
duplicates

np.int64(1)

In [63]:
data.drop_duplicates(inplace=True)
data

,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,148,NaN,35,35,0.627,50.0,1
1,85,29.0,35,35,0.351,NaN,0
2,183,0.0,35,35,0.672,32.0,1
3,10,23.0,35,35,0.167,21.0,0
5,116,0.0,35,35,0.201,30.0,0
...,...,...,...,...,...,...,...
763,101,48.0,35,35,0.171,63.0,0
764,122,27.0,35,35,0.340,27.0,0
765,121,23.0,35,35,0.245,30.0,0
766,126,0.0,35,35,0.349,47.0,1
767,93,31.0,35,35,0.315,23.0,0

In [64]:
data.shape

(767, 7)

In [65]:

data.isnull().sum()

Glucose                     0
SkinThickness               1
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         1
Outcome                     0
dtype: int64

In [73]:
data['Glucose'].fillna(data['Glucose'].median())
data

,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,183,0.0,35,35,0.672,32.0,1
3,10,23.0,35,35,0.167,21.0,0
5,116,0.0,35,35,0.201,30.0,0
6,78,32.0,35,35,0.248,26.0,1
7,115,0.0,35,35,0.134,29.0,0
...,...,...,...,...,...,...,...
763,101,48.0,35,35,0.171,63.0,0
764,122,27.0,35,35,0.340,27.0,0
765,121,23.0,35,35,0.245,30.0,0
766,126,0.0,35,35,0.349,47.0,1
767,93,31.0,35,35,0.315,23.0,0

In [75]:
c_columns=data.select_dtypes(include='object').columns
for col in c_columns:
    data['col'].fillna(data['col'].mode()[0],inplace=True)
data

,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
2,183,0.0,35,35,0.672,32.0,1
3,10,23.0,35,35,0.167,21.0,0
5,116,0.0,35,35,0.201,30.0,0
6,78,32.0,35,35,0.248,26.0,1
7,115,0.0,35,35,0.134,29.0,0
...,...,...,...,...,...,...,...
763,101,48.0,35,35,0.171,63.0,0
764,122,27.0,35,35,0.340,27.0,0
765,121,23.0,35,35,0.245,30.0,0
766,126,0.0,35,35,0.349,47.0,1
767,93,31.0,35,35,0.315,23.0,0

In [77]:
Q1 = data['BMI'].quantile(0.25)
Q3 = data['BMI'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
data = data[(data['BMI'] >= lower_bound) & (data['BMI'] <= upper_bound)]
print(f"Data shape after removing outliers: {data.shape}")

Data shape after removing outliers: (765, 7)